
@model IEnumerable<WebsiteQuanAo.Models.SanPham>
<div class="row">
    <!-- col-product -->
    @foreach (var i in Model)
    {
        <div class="col-lg-3 mb-3 ">
            <div class="card position-relative">

                <div class="cart_hover">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Thêm vào giỏ hàng">
                    </span>
                    <a href="@Url.Action("ThemGioHang", "Cart", new { ms = i.MaSP, url = Request.Url.ToString()})">
                        <img src="/Images/cart.jpg" alt="">
                    </a>
                </div>
                <div class="card-header ">
                    <a style="text-decoration: none; color:black;" href="@Url.Action("DetailsProduct","Clothes", new { id=i.MaSP})">

                        <img src="~/Images/@i.AnhBia" alt="ảnh sản phẩm">
                        <p style="height:30px;">@i.TenSP </p>
                        <div class="star_product">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <strong><span>@Html.FormatValue(@i.GiaSP, "{0:#,##0}") VNĐ</span></strong>
                    </a>
                </div>
            </div> <!--  -->

        </div>
    }
</div>

